.hero-mask {
	width: 100%;
	height: 100vh;
	position: relative;
}

.hero-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.hero-mask::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.3;
}

.hero {
	width: 100%;
	height: 100%;
}

.hero .hero-content {
	position: absolute;
	top: 6%;
	left: 36%;
	transform: translate(0%, 14%);
	text-align: center;
}

.hero-content h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

.hero-content p {
	color: rgb(208, 208, 208);
}

@media (min-width: 481px) and (max-width: 768px) {
	.hero .hero-content {
		position: absolute;
		margin-right: 1rem;
		top: 8%;
		left: 41%;
		transform: translate(3%, 14%);
		text-align: center;
	}

	.hero-content h1 {
		font-size: 2rem;
	}
	.hero-content h2 {
		font-size: 1.5rem;
	}
	.hero-content p {
		font-size: 1.3rem;
	}
}

@media screen and (min-width: 769px) {
	.hero .hero-content {
		margin-right: 1rem;
		position: absolute;
		top: 8%;
		left: 41%;
		transform: translate(3%, 14%);
		text-align: center;
	}

	.hero-content h1 {
		font-size: 2.5rem;
	}
	.hero-content h2 {
		font-size: 2rem;
	}
	.hero-content p {
		font-size: 1.6rem;
	}
}
