.card-container {
	max-width: 1900px;
	display: flex;
	margin: 0 auto;
	padding-bottom: 2rem;
	background-color: black;
}

.row {
	display: flex;
	align-items: center;
	margin: 0.7rem;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-content {
	background: #1a1919;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.image-card {
	width: 100%;
	height: 50vw;
	object-fit: cover;
}

.project-title {
	color: white;
	padding: 0.5rem 0;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.project-description {
	text-align: center;
	margin: 0.5rem;
}

.project-links {
	display: flex;
	justify-content: space-between;
	padding-top: 0.3rem;
}

.project-links a {
	margin: 0.5rem;
}

.project-links .repository {
	padding: 0.3rem;
	border: 1px solid rgb(50, 50, 50);
	border-radius: 5px;
	background-color: rgb(63, 63, 63);
}

.project-links .repository:hover,
.project-links .website:hover {
	background: #1a1919;
}

.project-links .website {
	padding: 0.3rem;
	border: 1px solid rgb(50, 50, 50);
	border-radius: 5px;
	background-color: rgb(63, 63, 63);
}

@media (min-width: 481px) and (max-width: 768px) {
	.portfolio-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.image-card {
		width: 100%;
		height: 40vw;
		object-fit: cover;
	}
}

@media screen and (min-width: 769px) {
	.portfolio-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
	}
	.image-card {
		width: 100%;
		height: 25vw;
		object-fit: cover;
	}
}
