/* img:hover {
	scale: 1.1;
	padding-bottom: 10px;
	transition: 0.3s;
} */

.container-upwork:hover {
	max-height: 750px;
}

.container-upwork .background-upwork,
.container-front-end .background-front-end,
.container-academic .background-academic {
	display: none;
}

.container-upwork:hover .background-upwork {
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

.container-upwork:hover .title-upwork,
.container-front-end:hover .title-front-end,
.container-academic:hover .title-academic {
	display: none;
}

.container-upwork img {
	border-radius: 5px;
	margin-bottom: 0.3rem;
	border: 2.5px solid gray;
}

.container-upwork a,
.container-front-end a {
	color: rgba(255, 255, 255, 0.801);
}

.container-front-end:hover .background-front-end {
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

.container-front-end .title-front-end {
	text-align: center;
}

.container-front-end .alkemy {
	height: 100px;
	border: 2.5px solid gray;
	border-radius: 5px;
}

.container-front-end .coder {
	height: 70px;
	border: 2.5px solid gray;
	border-radius: 5px;
}

.alkemy-link {
	margin-bottom: 1rem;
}

.container-academic:hover .background-academic {
	display: flex;
	flex-direction: column;
	transition: 0.3s;
}

.container-academic strong {
	font-weight: 900;
	padding: 0.3rem;
}

.container-academic img {
	max-height: 520px;
	border: 2.5px solid gray;
	border-radius: 5px;
	margin-top: 1rem;
}

.container-soft-skills {
	padding: 1rem;
	border: 2.5px solid gray;
	border-radius: 5px;
	margin: 1rem;
}

.dance video {
	width: 280px;
	height: 280px;
}

.smile-icon,
.heart-icon {
	display: inline;
}
